@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.animation-box {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

@keyframes fadeInOut {
  0% {
    opacity: .8;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: fadeInOut 1s infinite;
}

.follow {
  font-size: 1rem;
}
